@charset "UTF-8";


/*div class styling*/

#logo{
    float: left;
}

#login{
    float: right;
}

#note{
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    color: white;
}

footer{
    background-color: black;
    opacity: 70%;
    height: 220px;
    padding: 8px;
    font-size: 1vw;
}

.first{
    color: white;
    float: left;
}

.second{
    color: white;
    float: none;
    margin-left: 500px;
    text-decoration: none;
}



h5{
  font-size: 1vw;
}

.foot{
  text-decoration: none;
  color: white;
}

.fa{
  padding: 5px;
  font-size: 30px;
  width: 23px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover{
  opacity: 0.7s;
}

.fa-facebook{
  background: #3B5998;
  color: white;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: purple;
  color: white;
}