@charset "UTF-8";
/* CSS */
.loginButton {
  background-color: rgb(0, 0, 0);
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginButton:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.loginButton:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgb(192, 192, 192) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .loginButton {
    padding: 16px 48px;
  }
}


.red {
	background-color: red;
}

.lg-container{
	width:600px;
	height:400px;
	position:relative;
	left:50vw;
	transform: translateX(-50%);
	background: transparent;
	border: 1px solid red;
	background-color: #131649;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
}



/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.p1 {
	color: #F0F8FE;
}
 .signup {
    background: transparent;
 }
 
 